.wrapper {
  background-color: $white;
  margin: 4em 2em 6em;
  height: 82vh;
  border-radius: 40px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  li {
    list-style: none;
    font-size: 1.125rem;
    line-height: 3;
    display: flex;
    align-items: center;

    .menu-title {
      padding-right: 0.5em;
    }

    span,
    svg {
      pointer-events: none;
    }
  }
}

.line-through {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.4);

  svg {
    line,
    path,
    circle {
      stroke: rgba(0, 0, 0, 0.4);
    }

    &.time-icon path {
      fill: rgba(0, 0, 0, 0.4);
    }
  }
}